/* ===== FONTE E RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url('images/img8.png'); /* sua imagem */
    background-size: cover;      /* cobre toda a tela */
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; /* fundo fixo */
    min-height: 100vh;
}

/* ===== HEADER ===== */
header {
    background-color: rgba(0,0,0,0.5); /* transparente escuro */
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* ===== MAIN ===== */
main {
    padding: 50px 20px;
    text-align: center;
}

.apresentacao {
    background-color: rgba(0,0,0,0.4); /* leve transparência */
    padding: 30px;
    border-radius: 10px;
}

/* ===== FOOTER ===== */
footer {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.info-extra {
  font-size: 0.95em;
  color: #00ff99;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.4;
  background: rgba(0, 0, 0, 0.55);
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  text-transform: uppercase;
}
